@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "DM Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.menu-nav {
  line-height: 400%;
  padding: 5px 0;
}
.active-nav {
  position: relative;
  color: #374B8D;
}

code {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#progress {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: #fafafa;
  opacity: 0.3;
}

#progress .indicator {
  stroke: #fafafa;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #fafafa;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

ul.serviceabout {
  display: flex;
  list-style: none;
  height: 300px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
}

.active-nav::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 100%;
  bottom: 0;
  background-color: #F89B38;
}

.slick-slide {
  margin-right: 15px; /* Adjust the space between slides */
}

.slick-list {
  margin-left: -15px; /* To offset the initial spacing */
}
